.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-connexion {
margin-right: 10px;
background: #4ade80;
border-radius: 11px;
color: white;
  &:hover {
    background-color: #35ba66;
    color: white;
  }
}

.btn-login {
background: #000000;
border-radius: 11px;
color: #ffffff;
  &:hover {
    color: white;
  }
}

.btn-logout {
background: #000000;
border-radius: 11px;
color: #FFFFFF;
  &:hover {
    background: #FFFFFF;
    color: #000000;
  }
}
