.photo-scroll-container {
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  display: flex;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.photo-scroll {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  will-change: transform;
  animation: scroll 30s linear infinite;

  img {
    height: 80px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    opacity: 0.5;
    margin-right: 64px;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.photo-scroll-container:hover .photo-scroll {
  animation-play-state: paused;
}
